/.vscode

# Игнорируем исполнимые файлы
*.exe
*.out

# Игнорируем файлы настроек VS Code
.vscode/

# Игнорируем временные и кэшированные файлы компилятора
*.o
*.obj
*.a
*.so
*.dll
*.dSYM

# Игнорируем файлы, связанные с системой сборки (например, Makefile, CMake)
Makefile

# Игнорируем системные файлы macOS и Windows
.DS_Store
Thumbs.db
